<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Website Title -->
    <h1>Url Scanner</h1>
    <h3>Scan websites for malicious activity</h3>

    <!-- Scanner portion -->
    <div style="background-color: rgba(73, 73, 73, 0.997); padding:40px; margin:10px; border-radius: 14px; text-align: center;">
        <input id="LinkInput" />
        <button class = "ScanButton" type="button">Scan</button>
    </div>
</body>
</html>
